<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Loan Approval Prediction </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
 <div class="row">
    <div class="container-fluid">
        <div class="col-md-6" style="background:rgb(223, 236, 243);">
            <div class="predict">
                <h1>Loans Prediction</h1>
                <!-- Main Input For Receiving Query to ML -->
                <form action="{{ url_for('predict')}}" method="post">
                </form>
                <div class="result">
                    <h1> Result from Prediction </h1>
                    <label for="loan-status">Loan Status</label>
                    <p>
                    <h4>[0] = Denied</h4>
                    </p>
                    <p>
                    <h4>[1] = Approved </h4>
                    </p>
                    {% if result %}
                    {% for variable, value in original_input.data() %}
                    <b>{{ variable }}</b> : {{ value }}
                    {% endfor %}
                    <br>
                    <br> Predicted Loan Status:
                    <p style="font-size:50px">{{ result }}</p>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary btn-block btn-large">Predict Loans</button>
                </form>
                <br>
                <br>
                {{ prediction_text }}
            </div>
            <footer class="footer">
                <span class="bottom">Loan Approval Prediction by Susan Jessop and Yuly
                    Alcantara</span>
            </footer>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
        <script type="text/javascript" src="assets/js/app.js"></script>
</body>

</html>